body, *, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
body {
    background-color: #dcdde1;
    height: 100%;
}

.result {
    float: left;
    margin-right: 135px;
    margin-top: 50px;
}

.result {
    transition: width 0.5s;
}
/* HEADER LOGO */
header {
    float: left;
    width: 100%;
    border-bottom: 1px solid #333333;
    background-color: #3498db;
    box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.808);
}
header .logo {
    float: left;
    margin-left: 25px;
    font-size: 21pt;
    margin-top: 25px;
    text-align: center;
}

header .logo:hover {
    color: #333333; 
}

/* GENERAL */ 
p {
    font-size: 18pt;
    margin-top: 6px;
    margin-bottom: 0px;
}

h1 {
    font-size: 31pt;
}

h2 {
    font-size: 21pt;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transition: 0.3s;
}

ul {
    margin-left: 25px;
    font-size: 14pt;
    padding: 15px;
}

ul li {
    padding: 5px;
}

input, select, option {
    padding: 15px;
    font-size: 15pt;
}


label {
    font-size: 15pt;
}

/* NAVIGATION */
nav {
    float: right;
    margin-right: 150px;
}

nav ul {
    margin: 15px;
}
nav ul li {
    display: inline-block;
    padding: 5px;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    padding: 5px 15px 5px 15px;
    border: 1px solid #333333;
    border-radius: 8px;
    color: black;
}

nav ul li a:hover {
    background-color:#2980b9;
    color: white;
}

.selected {
    color: white;
}

/* WRAPPER */
.wrapper {
    margin: 10px 5% 0px 5%;
    float: left;
    width: 88%;
    padding: 2%;
    min-height: 100%;
    position: relative;
}

/* FOOTER */
footer {
    text-align: center;
    width: 100%;
    font-size: 15pt;
    background-color: #EEEEEE;
    float: left;
    height: 50px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #333333;
}